<div class="jumbotron">
    <h1>$category.getName()</h1>
    <form action="/newTask" method="get">
      <a href="/$category.getId()/newTask">Add a new task</a>
    </form>





    </div>





</div>
