<br>
<br>
<div class="jumbotron">

  <h1>Add a New Category:</h1>
  <form action="/categoryList"  method="post">
  <input type="text" id="name" class="name" name="name" value="">
  <button type="submit" class="btn btn-warning">Submit Category</button>
  </form>

</div>
