<div class="jumbotron">
  <h1>Add a New Task:</h1>
  <form action="/$category.getId()/categoryTasks"  method="post">
  <input type="text" id="newTask" class="newTask" name="newTask" value="">
  <button type="submit" class="btn btn-warning">Submit Task</button>
  </form>
</div>
